[submodule "submodules/experiment_runner"]
	path = submodules/experiment_runner
	url = git@github.com:sbuschjaeger/experiment_runner.git
	branch = master
[submodule "submodules/Pysembles"]
	path = submodules/Pysembles
	url = git@github.com:sbuschjaeger/Pysembles.git
	branch = master
